*{
    margin: 0;
    padding: 0; 
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;

}
.wrapper{
    width: 100%;
    margin: auto;

}

header{
    background: url(./image/1.png);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #666666;
    height: 11vh;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 1, 1, 0.5);
    z-index: 1;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.2));
    z-index: 2;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-area li{
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
}

.nav-area li a:hover {
    background: #fff;
    color: #000;
}

.logo{
    float: left;
    z-index: 2;
}

.logo img{
    width: 35%;
    padding: 15px 0;
}

.welcome-text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.welcome-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 38px;
    font-family: alfa slab one;
    text-shadow: 2px 2px 2px #000;
}

.welcome-text p {
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px 2px #000;
}

.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    font-weight: 900;
    box-shadow: 2px 2px 2px #000;
}

.welcome-text a:hover {
    background: #fff;
    color: #000;
}

main {
    background-color: #ffffff;
    padding: 50px;
}

footer {
    background-color: #666666;
    padding: 50px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; 
}

/*responsive*/

@media (max-width:600px){
    .wrapper {
        width: 100%;
    }
    .logo {
        float: none;
        display: block;
       
